@model IEnumerable<shoptar.Models.Spaceships.SpaceshipsIndexViewModel>

@{
    int rowNumber = 1;
    ViewData["Title"] = "Spaceships";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Spaceship</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Name</th>
            <th>Type</th>
            <th>Build Date</th>
            <th>Crew</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@rowNumber</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @item.BuiltDate?.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crew)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Upgrade</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            rowNumber++;
        }
    </tbody>
</table>