@model shoptar.Core.Domain.Kindergarten

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Group Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.GroupName)</dd>

        <dt class="col-sm-3">Children Count</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ChildrenCount)</dd>

        <dt class="col-sm-3">Kindergarten Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.KindergartenName)</dd>

        <dt class="col-sm-3">Teacher Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TeacherName)</dd>

        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

        <dt class="col-sm-3">Updated At</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>