@model IEnumerable<ShopTARgv24.Models.Kindergartens.KindergartenIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="kindergarten" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
    Kindergartens
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Group Name</th>
                <th scope="col">Children Count</th>
                <th scope="col">Kindergarten Name</th>
                <th scope="col">Teacher</th>
                <th scope="col">Established Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kindergarten in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@kindergarten.GroupName</td>
                    <td>@kindergarten.ChildrenCount</td>
                    <td>@kindergarten.KindergartenName</td>
                    <td>@kindergarten.Teacher</td>
                    <td>@kindergarten.EstablishedDate?.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a asp-action="details" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-primary">Details</a>
                        <a asp-action="update" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="kindergarten" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>